@model GameSimmulation
@{
    ViewData["Title"] = "Home Page";
}
@if (!string.IsNullOrEmpty(Model.FileResult))
{
<span>Nom du fichier resultat : @Model.FileResult </span>
    <br />
    @Html.ActionLink("Télécharger", "Download", "Home", new { fileName = Model.FileResult }, null)
}
